* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*header*/
body {
    background-color: #f8f8d6;
}


.main-header {
    display: flex;
    align-items: center;
}

.esq {
    width: 45vw;
}


.meio {
    width: 25vw;
}

.header-text li {
    display: inline-flex;
    margin-right: 5vh;
    font-size: 30px;
    color: #eb6427;
    font-weight: bolder;
}

.dir {
    display: flex;
    justify-content: right;
    width: 35vw;
}


.header-logo img {
    width: 150px;
    height: 125px;
    margin: 15px;
}

.user-icon img {
    width: 100px;
    height: 100px;
    margin-right:5vh ;
}

a{ 
    text-decoration: none;
    color: #eb6427;
}
/*header*/


.main-content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 90vw;
    background-color: #5d7e62;
    
}


.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 30vw;
    border: solid 3px #5d7e62;

}



.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 20vw;
    background-color: #5d7e62;
}



.second-content {
    display: flex;
    justify-content: center;
    width: 100vw;
    
}

.flex {
    
    justify-content: space-around;
}