* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*footer*/
    


.main-footer {
    display: flex;
    align-items: center;
    margin-top: 400px;
    background-color: #e2e2b7;
}

.esq {
    width: 45vw;
}




.footer-text {
    display: inline-flex;
    margin-right: 5vh;
    font-size: 15px;
    color: #eb6427;
    font-weight: bolder;
}

.dir {
    display: flex;
    justify-content: right;
    width: 35vw;
}


.footer-logo img {
    width: 50px;
    height: 45px;
    margin: 15px;
}

.user-icon img {
    width: 100px;
    height: 100px;
    margin-right:5vh ;
}

a{ 
    text-decoration: none;
    color: #eb6427;
}
/*footer*/




.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:active {
    background-color: #3e8e41;
  }


