

.main-content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 90vw;
    background-color: #5d7e62;
    
}

.banner-content img {
    width: 100vw;
    height: 39.5vh;
}


.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 30vw;
    border: solid 3px #5d7e62;

}

.text-content h1 {
    width: 22vw;
    font-size: 20px;
    font-weight: lighter;
}



.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 20vw;
    border: solid 2px #5d7e62;
    overflow-y: hidden;
}

.img-content img {
    width: 20vw;
    height: 40vh;

}





.second-content {
    display: flex;
    justify-content: center;
    width: 100vw;
    
}

.flex {
    
    justify-content: space-around;
}