.dark-mode {
    background-color: #282828; 
    color: #fefefe; 
}
butao {
    position: absolute;
    left: 91%;
    padding: 10px 20px;
    background-color: #4E437B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    top: 15px;
  }
  
  .butao:hover {
    background-color: #b7c978;
    transition: 0.25s;
  }
  
  #toggleButton {

    border-radius: 12px;
    position:fixed
    /* Estilos específicos para o botão com o identificador toggleButton */
  }
  
  /* Estilos para o modo noturno */
  .modo-noturno .butao {
    background-color: #343a40;
  }
  
  .modo-noturno .butao:hover {
    background-color:#1d2124;
    transition: 0.25s;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5d7e62;
    margin: 0;
    padding: 0;
  
}

h2 {
    color: #eb6427;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #f8f8d6;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    width: 15vw;
}

.login-form h2 {
    margin-bottom: 30px;
    text-align: center;
    
}

.form-group {
    margin-bottom: 40px;
}



.form-group input {

    padding: 6px;
    border: 1px ;
    border-radius: 1px;
    background-color: #cacccc;
   
}

::placeholder {
    font-weight: bolder;
    color: #5d7e62;
}



.btn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 1px;
    background-color: #cacccc;
    color: #eb6427;
    cursor: pointer;
    font-weight: bolder;
    font-size: 12px;
}

.butn {
    color: #eb6427;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color:#f8f8d6 ;
}

.social-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 9vh;
}

.btn-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 5px;
    background-color: #3b5998; /* Facebook blue */
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
}



a {
    color:#eb6427;
    text-decoration: none;
}

.fa {
    background-color: #1f3056;
}

.fa:hover {
    background-color: #2f487f;
}

.tw {
    background-color: #5683e5;
}

.tw:hover {
    background-color: #4362a5;
}

.go {
    background-color: white;
}

.go:hover {
    background-color:#e9e9e9 ;
}

.social-icon img {
    width:25px;
    height: 25px;
    
}



