@media screen and  (max-width: 950px) {
    
    .escrita p {
        font-size: 12px;

    }

    .escrita h2 {
        font-size: 15px;
    }

    .escrita {
        width: 50vw;
    }

    .imagem img {
        width: 40vw;
    }

}