* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*header*/
body {
    background-color: #f8f8d6;
}


.main-header {
    display: flex;
    align-items: center;
}

.esq {
    width: 45vw;
}


.meio {
    width: 25vw;
}

.header-text li {
    display: inline-flex;
    margin-right: 5vh;
    font-size: 30px;
    color: #eb6427;
    font-weight: bold;
}

.dir {
    display: flex;
    justify-content: right;
    width: 35vw;
}


.header-logo img {
    width: 150px;
    height: 125px;
    margin: 15px;
}

.user-icon img {
    width: 100px;
    height: 100px;
    margin-right:5vh ;
}
/*header*/


  /*carrinho*/
  .confirm-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5d7e62;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    text-align: center;
    padding: 20px;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    background-color: #d2d2d2;
    width: 70vw;
    margin-top: 50px;
}

.item-container {
    display: flex;
    flex-direction: column; /* Os itens estarão dispostos em colunas dentro do contêiner principal */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    
    
}

.item {
    margin-bottom: 15px; /* Espaçamento entre os contêineres de itens */
    width: 100%; /* Cada contêiner de item ocupará toda a largura do contêiner principal */
}

.item-content {
    /* Estilos adicionais para cada contêiner de item */
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto; /* Centraliza horizontalmente cada contêiner de item */
    margin-bottom: 1px;
    background-color: #a9a9a9;
    height: 50px;
}

.finish-button {
    margin-top: 20px; /* Espaçamento entre o contêiner de itens e o botão de finalizar carrinho */
    margin-left: 230px; /* Alinha o botão à esquerda */
    padding: 10px 20px;
    background-color: #5d7e62;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    color:#eb6427;
}

.car {
    position: absolute; /* Posiciona o título absolutamente */
    left: 230px; /* Distância da borda esquerda do contêiner pai */
    top: 170px; /* Distância da borda superior do contêiner pai */
}



/*perfil*/
.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 900px;
}
.left-column {
    width: 40%;
    margin-right: 100px;
}
.right-column {
    width: 60%;
}
.profile-image {
    max-width: 100%;
    height: auto;
}
.info-section {
    margin-bottom: 20px;
}
.info-section label {
    font-weight: bold;
    color:#5d7e62;
}
.info-section input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
.delivery-info {
    margin-top: 20px;
}
.delivery-info label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color:#5d7e62;
}
.delivery-info input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
}
.change-photo-button {
    display: block;
    margin-bottom: 10px;
    background-color: #eb6427;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;

}
h2 {
    color: #eb6427;
}
.update-button {
    padding: 10px 20px;
    background-color: #eb6427;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.update-button:hover {
    background-color: #ff7b4d;
}

